In [14]:
import pandas as pd
import sqlite3

In [15]:
db_name = "us_food_desert.sqlite"

conn = sqlite3.connect(db_name)
cursor = conn.cursor()

In [16]:
df = pd.read_csv("FoodAccessResearchDataCleanCSV_Updated.csv")

In [17]:
df.to_sql("food_deserts", conn, if_exists="replace", index=False)

3101

In [18]:
query = "SELECT * FROM food_deserts LIMIT 5;"
result = pd.read_sql(query, conn)
print(result)

     State          County             County_State  latitude  longitude  \
0  Alabama  Autauga County  Autauga County, Alabama   32.4597   -86.4573
1  Alabama  Baldwin County  Baldwin County, Alabama   30.6263   -87.8816
2  Alabama  Barbour County  Barbour County, Alabama   31.9102   -85.1505
3  Alabama     Bibb County     Bibb County, Alabama   32.9421   -87.1753
4  Alabama   Blount County   Blount County, Alabama   33.9394   -86.4932

   TotalPopulation  LowAccess_1MUrban_10MRural  LowAccess_HalfUrban_10MRural  \
0            54571                        9252                       14721.0
1           182265                       22895                       35823.0
2            27457                        2817                        4281.0
3            22915                         183                         183.0
4            57322                        1951                        2716.0

   LowAccess_HalfUrban_10MRural.1  LowAccess_LowInc_1MUrban_10MRural  ...  \
0                            6692                               3553  ...
1                           21740                               7233  ...
2                             496                               1432  ...
3                               0                                 51  ...
4                            1951                                720  ...

   LowAccessHispLatam_10M  LowAccessSNAP_10M  TotalPopulationWhite  \
0                      66                314                 42855
1                      17                 77                156153
2                     426                390                 13180
3                       3                 17                 17381
4                       0                  0                 53068

   TotalPopulationBlack  TotalPopulationAsian  TotalPopulationNHPI  \
0                  9643                   474                   32
1                 17105                  1348                   89
2                 12875                   107                   29
3                  5047                    22                   13
4                   761                   117                   38

   TotalPopulationNAAN  TotalPopulationOther  TotalPopulationHispanicLatam  \
0                   78                   157                           548
1                  379                   757                          2650
2                   63                   127                           443
3                   23                    45                           158
4                  167                   334                          1168

   TotalPopulationSnapBenefits
0                         1345
1                         2893
2                         1286
3                          501
4                         1128

[5 rows x 46 columns]